<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing HumbleBundle" parallel="methods" thread-count="6">
    <test name="Regression">
        <classes>
            <class name="test.ageOfEmpiresMain.AgeOfEmpiresPublisher"/>
            <class name="test.humbleBundle.AddToCartTest"/>
            <class name="test.humbleBundle.HomePageSearchDropDown"/>
            <class name="test.humbleBundle.HomePageSearchViewAll"/>
            <class name="test.humbleBundleGames.FilterAndGetResults"/>
        </classes>
    </test>
</suite>